<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <connectionStrings>
    <add name="AHT_MainConnectionString"
         connectionString="Data Source=REDACTED;Initial Catalog=REDACTED;Persist Security Info=True;User ID=REDACTED;Password=REDACTED;"
         providerName="System.Data.SqlClient"/>
    <add name="connAhtWeb"
         connectionString="Data Source=REDACTED;Initial Catalog=REDACTED;Persist Security Info=True;User ID=REDACTED;Password=REDACTED;"
         providerName="System.Data.SqlClient"/>
   
  </connectionStrings>
  
  <!-- localhost:3105 -->
  <applicationSettings>
    <Tests.Properties.Settings>
      <setting name="Tests_SecureServices_SecureServices" serializeAs="String">
        <value>http://localhost:3105/secureservices.asmx</value>
      </setting>
      <setting name="Tests_CustomerService_CustomerService" serializeAs="String">
        <value>http://localhost:3105/CustomerService.asmx</value>
      </setting>
      <setting name="Tests_MobileService_MobileServices" serializeAs="String">
        <value>http://localhost:3105/MobileServices.asmx</value>
      </setting>
      <setting name="Tests_MembershipService_MembershipService" serializeAs="String">
        <value>http://localhost:3105/MembershipService.asmx</value>
      </setting>
    </Tests.Properties.Settings>
  </applicationSettings>
  
  <appSettings>
    <add key="newuseremailtemplate" value="C:\active\HarperSERVICE\HarperSERVICE\WebServices\newmemberemailbody.txt"/>
    <add key="256key" value="REDACTED"/>
    <add key="128key" value="REDACTED"/>
    <add key="iv" value="REDACTED"/>
    <!-- These are likely to change from dev to staging to production -->
    <add key="server" value="REDACTED"/> <!-- harpernet base url (no subdirectories) -->
    <add key="baseurl" value="http://localhost"/> <!-- the base url of the website (no trailing slash) -->
    <add key="test-mode" value="false"/>
    <add key="maintwindowstart" value="Saturday|18:00"/>
    <add key="maintwindowstop" value="Saturday|19:00"/>
    <add key="messagelist-filename" value="C:\active\HarperSERVICE\HarperSERVICE\WebServices\MessageLists.xml"/>
    <add key="smtpserver"  value="REDACTED"/>
    <add key="log-errors-only" value="false" />
    <!-- END -->
    
    <add key="drupalrootpwd" value="REDACTED"/>
    <add key="drupalbypasspwd" value="REDACTED"/>
    <add key="drupalbypassacct" value="REDACTED"/>
    
    <!-- Default SFGRequest Property Settings-->
    <add key="getoffer-memberid" value="10000013171"/>    <!--10001559261 premier1, just need an active account for this call -->
    <add key="hashkey" value="REDACTED"/>
    <add key="salt" value="REDACTED"/>
    <add key="org" value="AHT"/>
    <add key="event-source" value="SFG Provider" />
    <add key="app-version" value="2.11" />   
    
    <!-- ProgramId per Service Type-->
    <add key="creditcard-programid" value=""/>
    
    <!-- ProgramTypeId per Service Type-->
    <add key="heartbeat-programtypeid" value="MS"/>
    <add key="gatekeeper-programtypeid" value="MS"/>
    <add key="creditcard-programtypeid" value="SU"/>
    <add key="subscription-programtypeid" value="SU"/>
    <add key="customerupdate-programtypeid" value="MS"/>
    <add key="usermaint-programtypeid" value="MS"/>
    
    <!-- UserId/Password for each Service Type-->
    <add key="gatekeeper-username" value="REDACTED"/>
    <add key="gatekeeper-password" value="REDACTED"/>
    <add key="customerupdate-username" value="REDACTED"/>
    <add key="customerupdate-password" value="REDACTED"/>
    <add key="usermaint-username" value="REDACTED"/>
    <add key="usermaint-password" value="REDACTED"/>
    <add key="creditcard-username" value="REDACTED"/>
    <add key="creditcard-password" value="REDACTED"/>
    <add key="subscription-username" value="REDACTED"/>
    <add key="subscription-password" value="REDACTED"/>
    <add key="heartbeat-username" value="REDACTED"/>
    <add key="heartbeat-password" value="REDACTED"/>
    
    <!--Referral email settings-->
    <add key="erroremailsfrom" value="REDACTED" />
    <add key="erroremailsto" value="REDACTED" />
    <add key="erroremailsmtpserver" value="REDACTED" />
    <add key="mailserviceuser" value="REDACTED"/>
    <add key="mailservicepwd" value="REDACTED"/>
    <add key="pwdresetemailsfrom" value="REDACTED" />
    <add key="pwdresetemailscc" value="REDACTED" />
    <add key="referemailfrom"  value="REDACTED"/>    
  </appSettings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"></authentication>
    <machineKey validationKey="REDACTED" decryptionKey="REDACTED" decryption="3DES" validation="SHA1"/>
    <membership defaultProvider="SfgProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="SfgProvider"
             type="SFG_Provider.GateKeeperProvider, SFG_Provider, Version=1.0.0.0"
             connectionStringName="connAhtWeb"
             enablePasswordRetrieval="true"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             applicationName="/"
             requiresUniqueEmail="true"
             passwordFormat="Encrypted"
             maxInvalidPasswordAttempts="10"
             minRequiredPasswordLength="7"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
             passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="System.Net" tracemode="protocolonly" maxdatasize="4096">
        <listeners>
          <add name="TraceFile"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Net" value="Verbose"/>
    </switches>
    <sharedListeners>
      <add name="TraceFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace1.log"/>
    </sharedListeners>
  </system.diagnostics>  
</configuration>
