<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SFGWrapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="CustomerUpdateUser" value="REDACTED" />
    <add key="CustomerUpdatePass" value="REDACTED" />
    <add key="GateKeeperUser" value="REDACTED" />
    <add key="GateKeeperPass" value="REDACTED" />
    <add key="UserMaintUser" value="REDACTED" />
    <add key="UserMaintPass" value="REDACTED" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="process_wsdl_classBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Message">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="process_wsdl_classBinding2" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Message">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="process_wsdl_classBinding4" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Message">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client />
  </system.serviceModel>
  <applicationSettings>
    <SFGWrapper.Properties.Settings>
      <setting name="SFGWrapper_SFG_GateKeeperSvc_GateKeeperService"
        serializeAs="String">
        <value>https://webservices.strategicfulfillment.com/websvcapps/services/https/process_wsdl.php?wsdlfile=gate_keeper</value>
      </setting>
      <setting name="SFGWrapper_SFG_CustomerUpdateSvc_CustomerUpdateService"
        serializeAs="String">
        <value>https://webservices.strategicfulfillment.com/websvcapps/services/https/process_wsdl.php?wsdlfile=customer_update</value>
      </setting>
      <setting name="SFGWrapper_SFG_UserMaintSvc_UserMaintService"
        serializeAs="String">
        <value>https://webservices.strategicfulfillment.com/websvcapps/services/https/process_wsdl.php?wsdlfile=user_maint</value>
      </setting>
      <setting name="SFGWrapper_com_strategicfulfillment_webservices_CCProcessorService"
        serializeAs="String">
        <value>https://webservices.strategicfulfillment.com/websvcapps/services/https/process_wsdl.php?wsdlfile=cc_processor</value>
      </setting>
      <setting name="SFGWrapper_com_strategicfulfillment_webservices_SubOrderInsertService"
        serializeAs="String">
        <value>https://webservices.strategicfulfillment.com/websvcapps/services/https/process_wsdl.php?wsdlfile=order_insert_su</value>
      </setting>
      <setting name="SFGWrapper_com_strategicfulfillment_webservices_HeartbeatService"
        serializeAs="String">
        <value>https://webservices.strategicfulfillment.com/websvcapps/services/http/process_wsdl.php?wsdlfile=heartbeat</value>
      </setting>
    </SFGWrapper.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>