<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SupportClasses.Properties.Settings.AHT_MainConnectionString"
            connectionString="Data Source=REDACTED;Initial Catalog=REDACTED;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>